
form{
    display:flex;
    align-items: center;
}

.input{
    height: 70px;
    border-radius: 0 0 0 10px;
}

.add{
    text-align: center;
    position: relative;
    left: 47%;
    font-size: 35px;
    cursor: pointer;
    color:var(--primary-color);
}

.invisible{
    display:none;
}


#name{
    width:496px;
    height: 68px;
    border-width:0px;
    border-radius:0px 0px 10px 10px;
    background: var(--input-bg-color)!important;
    outline: none;  
    padding-left: 10px;
    color:#1e272e;
}

.btn-save{
    cursor:pointer;
    background-color:var(--primary-color);
    margin-right:5px;
    color:#fff;
    border-radius:3px;
    border:1px solid var(--primary-color);
    padding:12px;
    font-weight:bold;
    transition:200ms;
}

.btn-save:hover{
    background-color: #182297;
}


