
form{
    display:flex;
    align-items: center;
}


.input{
    background:var(--input-bg-color);
    height: 70px;
    border-radius: 0px 0px 10px 10px;
}


.add{
    text-align: center;
    position: relative;
    left: 47%;
    top: -15px;
    font-size: 35px;
    cursor: pointer;
}


.invisible{
    display:none;
}


#name{
    width:496px;
    height: 68px;
    border-width:0px;
    border-radius:0px 0px 10px 10px;
    background: var(--input-bg-color)!important;
    outline: none;  
    color:white;
   
}

input:-webkit-autofill {
	-webkit-box-shadow:0 0 0 35px var(--input-bg-color) inset;
    -webkit-text-fill-color: #fff;
}

.btn-save{
    background-color: var(--input-bg-color);
    border-style: none;
    color:white;
    cursor:pointer;
    height:20px;
}


.btn-save:hover{
    text-decoration:underline;
}
