.task{
    margin:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    border-radius:2px;
    color:#1e272e;
}

::selection{
    background:#bdc3c7;
}

.tasks-list{
    min-height:430px;
}

.barre{
    text-decoration-line: line-through;
}

.block-check {
    display: flex;
    align-items: center;
    padding: 1px 4px;
}

.no-check{
    cursor:pointer;
}

.check{
    cursor: pointer;
}

.name{
    padding-left:10px;
}

.delete{
    border-style:none;
    cursor:pointer;
    color:#1e272e;
}
