@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
  --primary-color: #0c2ce4;
  --color-input: #f5f5f4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  background: #afafb7;
}

h1 {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0;
  font-size: 24px;
}

.container {
  width: 100%;
  box-shadow: 0 2px 4px #a5a5ad;
  background: #f5f5f4;
  position: relative;
  height: 100vh;
}

img {
  width: 230px;
  height: 230px;
  opacity: 0.4;
}

.error {
  height: 392px;
}

::-webkit-scrollbar {
  width: 7px;
  background: #f5f5f4;
}
::-webkit-scrollbar-thumb {
  border: solid 0 transparent;
  background-color: #b0aeae;
}

@media screen and (min-width: 480px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 400px;
    height: 100%;
  }

  h1 {
    font-size: 28px;
  }
}
