@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Montserrat:wght@500&display=swap');

:root {
    --input-bg-color:#F0F1F9;
    --primary-color:#2935B6;
}

body{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
    background:#B2BDE2;
    font-family:'chewy',sans-serif;
}

h1{
    text-align:center;
    color:#1e272e;
}

.container {  
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    min-height: 500px;
    background-color: var(--input-bg-color);
    border-radius:10px;
    box-shadow: 0 0 10px #7f8fa6;
    margin-top:0;
}

.error{
    height:392px;
}

@media screen and (max-width:570px) {
    .container{
        width: 420px;
    }
}


@media screen and (max-width:450px){
    .container{
        width:90%;
    }
}
