@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

:root {
  --primary-color: #7e6b60;
  --color-input: #d0a487;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chewy", sans-serif;
  background-color: #efcfc0;
}

h1 {
  text-align: center;
  font-size: 48px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  background-color: #f8f0ea;
  position: relative;
}

.error {
  height: 392px;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    border-radius: 0;
  }

  h1 {
    font-size: 30px;
  }
}
